*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
@font-face{
    src: url(../fonts/YeonSung-Regular.ttf);
    font-family: YeonSung;
}
@font-face{
    src: url(../fonts/ArchitectsDaughter-Regular.ttf);
    font-family: Architect;
}
@font-face{
    src: url(../fonts/Goldman-Regular.ttf);
    font-family: Goldman;
}
header{
    font-family: YeonSung;
    nav{
        .fa-book-reader{
            transform: scale(1.5);
        }
        .homelink{
            font-size: 27px;
            position: relative;
            left: 3%;
        }
        .homelink:hover{
            text-decoration: none;
        }
        .search-container{
            border-radius: 5px;
        }
        .search-input::placeholder{
            color: white;
        }
        .fa-search{
            margin-left: 5px;
        }
        .fa-user{
            margin-left: 2px;
        }
        .search-input:focus{
            border-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: transparent;
          }
    }
}
//this is below the header section
.welcome{
    position: relative;
    margin-top: 3%;
    font-family: Architect;

} 
.first-section{
    margin-left: 10%;
    margin-right: 10%;
    .start-learning-container{
        margin-left: 10%;
        margin-right: 10%;
        a{
            margin-top: 3%;
            font-family: Goldman;
            padding: 2%;
            display: block;
            width: 100%;
            border-radius: 2px;
            box-shadow: 2px 2px 3px grey;
            font-size: 23px;
        }
        a:hover{
            text-decoration: none;
            box-shadow: 1px 1px 3px grey;
        }
    }
    .educational-quotes{
            img{
                height: 150px;
                border-radius: 2px;
                margin-bottom: 4%;
            }
            margin-top: 3%;
            .quote{
                font-size: 20px;
            }
            .quote,.name{
                font-family: YeonSung;
            }
            .name{
                color: grey;
                margin-bottom: 6%;
            }
        }
    }
    footer{
        margin-top: 9%;
        width: 100%;
        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
            font-weight: 200;
            padding: 1%;
            font-size: 20px;
        }
        a{
            margin-left: 2%;;
            font-family: Goldman;
            font-size: 19px;
            text-decoration: underline;
        }
        .last-section{
            text-align: center;
            padding: 1%;
            a{
            padding: 1%;
            text-decoration: none;
            color: white;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }